@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

:root {
  --primary-blue: hsl(223, 87%, 63%);
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}

main {
  font-size: 1.25rem;
}

.container {
  max-width: 80%;
  margin: 5rem auto;
  text-align: center;
  padding: 0 1rem;
}

.logo {
  margin-bottom: 2rem;
}

.heroText h1 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
  color: var(--very-dark-blue);
}

.heroText h1 span {
  color: var(--gray);
  font-weight: 300;
}

.heroText p {
  font-size: 0.85rem;
  margin-bottom: 2rem;
  font-weight: 300;
  color: var(--very-dark-blue);
}

.inputTextDiv {
  margin-bottom: 0.5rem;
}

.inputEmail {
  width: 100%;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  border-style: solid;
  font-size: 0.7rem;
  color: var(--very-dark-blue);
  outline: none;
}

.redBorder {
  border-color: var(--light-red);
}

.errorMsg {
  font-size: 0.7rem;
  color: var(--light-red);
  margin-top: 0.5rem;
  margin-bottom: 1.2rem;
  font-style: italic;
  display: none;
}

.visible {
  display: block;
}

.btn {
  width: 100%;
  padding: 0.5rem 2rem;
  border-radius: 1.5rem;
  border-style: solid;
  background-color: var(--primary-blue);
  color: white;
  font-weight: 600;
  font-size: 0.8rem;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: hsla(223, 87%, 63%, 80%);
}

form {
  margin-bottom: 3rem;
}

.imageDiv {
  margin-bottom: 5.5rem;
}

.dashboard {
  width: 100%;
}

.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

a {
  border: 1px solid var(--pale-blue);
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  transition: 0.3s;
}

a:hover,
a:hover i {
  border: none;
  background-color: var(--primary-blue);
  color: white;
}

a i {
  color: var(--primary-blue);
  transition: 0.3s;
}

.fb,
.twitter {
  margin-right: 1rem;
}

.footer p {
  font-size: 0.85rem;
  color: var(--gray);
}

@media (min-width: 55.625rem) {
  main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    max-width: 44.5rem;
    margin: 4rem auto;
  }

  .heroText h1 {
    font-size: 2rem;
  }

  .heroText p {
    font-size: 1.25rem;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .inputTextDiv {
    order: 0;
    flex-basis: 70%;
    margin-bottom: 0;
    margin-right: 1rem;
    flex-grow: 1;
  }

  .inputEmail {
    padding: 1rem 2rem;
    border-radius: 2rem;
    outline: none;
    font-size: 1rem;
  }

  .btn {
    order: 0;
    flex-basis: 25%;
    padding: 1rem 2rem;
    border-radius: 2rem;
  }

  .errorMsg {
    order: 1;
    padding-left: 2rem;
    text-align: left;
    flex-basis: 100%;
  }
}

@media (min-width: 75rem) {
  .container {
    max-width: 50rem;
  }

  .heroText h1 {
    font-size: 3rem;
  }

  form {
    margin-bottom: 2.5rem;
  }

  .errorMsg {
    font-size: 0.85rem;
  }
}
